<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog o Javie i Springu</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href="css/clean-blog.min.css" rel="stylesheet">
</head>
<body style="background-image: url('/tlo4.jpg')">
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="http://splon.pl">Tweetlike</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href='http://splon.pl/addpost'>Dodaj post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='http://splon.pl/profile'>Mój profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='http://splon.pl:8181/weather'>Pogodynka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='http://splon.pl:8282/'>Chat online</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='http://splon.pl:8484/'>Quiz Milionerzy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='http://splon.pl/about'>O nas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='http://splon.pl/logout'>Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header >
    <center>
        <br>
        <br>
        <a href="https://github.com/bastekkrakow/milionerzy">
        <img src="GitHub-Mark-Light-32px.png" alt="GitHub" style="width:30px;height:30px;">
        </a>
        <br>
        <br>
        <br>
        <button type="button" class="btn btn-warning btn-lg btn-block" th:text="'Pytanie : ' + ${question.getQuestion()}"></button>
        <br>
        <br>
        <form action="milionerzy" method="post">
              <span class="btn-group-vertical">
                <button class="btn btn-primary" th:text=" ${question.getAnswer1()}" th:name="answer" type="submit"
                        th:value="1"></button>&nbsp;
                <button class="btn btn-primary" th:text=" ${question.getAnswer2()}" th:name="answer" type="submit"
                        th:value="2"></button>&nbsp;
                <button class="btn btn-primary" th:text=" ${question.getAnswer3()}" th:name="answer" type="submit"
                        th:value="3"></button>&nbsp;
                <button class="btn btn-primary" th:text=" ${question.getAnswer4()}" th:name="answer" type="submit"
                        th:value="4"></button>&nbsp;
              </span>
        </form>
        <br>
        <button type="button" class="btn btn-danger" th:text="'Prawidłowe odpowiedzi: ' + ${points}"></button>
        <h2 font color="white" ></h2>
    </center>
</header>
</body>
</html>
